[submodule "externalLib/hello_imgui"]
	path = externalLib/hello_imgui
	url = https://github.com/XMNXofficial/hello_imgui.git
	branch = hello_imgui_gif
[submodule "externalLib/sqlite"]
	path = externalLib/sqlite
	url = https://github.com/XMNXofficial/sqlite.git
[submodule "externalLib/spdlog"]
	path = externalLib/spdlog
	url = https://github.com/XMNXofficial/spdlog.git
